/* html box */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* root */

:root {
	--main-text-color: #212121;
	--additional-text-color: #757575;
	--accent-color: #2196f3;
	--accent-color-two: #ffffff;
	--main-font: "Roboto", sans-serif;
	--main-font-weight: 900;
	--additional-font-weight: 400;
	--font-weight-employee-name: 500;
	--font-weight-advantages: 700;
	--additional-font: "Raleway", sans-serif;
	--font-style: "Normal";
	--accent-backgroung: #2f303a;
	--accent-button-backgroung: #f5f4fa;
	--studio-style-color: rgba(255, 255, 255, 0.6);
	--button-background-color-hover: #188ce8;
	--cards-gap: 30px;
}

/* body */

body {
	background-color: var(--accent-color-two);
	color: var(--main-text-color);
	font-family: var(--main-font);
	text-decoration: none;
}

/* images */

img {
	display: block;
	max-width: 100%;
}

/* container */

.container {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	width: 1200px;
}

.list {
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section__title {
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;

	margin-top: 0;
	margin-bottom: 50px;

	text-align: center;
}

/* logo */

.logo {
	font-weight: var(--font-weight-advantages);
	color: var(--accent-color);
	font-family: var(--additional-font);

	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo__studio {
	color: var(--main-text-color);
}

.logo__studio-inverse {
	color: var(--accent-color-two);
}

/* page header */

.page-header {
	background-color: var(--accent-color-two);
	border-bottom: 1px solid #ececec;
}

.page-header__container {
	display: flex;
}

.page-header__navigation {
	display: flex;
	align-items: center;
}

.page-header__nav-buttons {
	gap: 50px;
	margin-top: 0;
	margin-bottom: 0;

	display: flex;
	padding-left: 0;
	margin-left: 93px;
}

.page-header__link {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	padding-top: 32px;
	padding-bottom: 32px;

	list-style: none;
	color: var(--main-text-color);
	text-decoration: none;
	font-weight: var(--font-weight-employee-name);

	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link.current {
	color: var(--accent-color);
}

.current::after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1px;
	width: 100%;
	height: 4px;

	background-color: #2196f3;
	border-radius: 2px;
}

.page-header__link:hover,
.page-header__link:focus,
.page-header__mail:hover,
.page-header__mail:focus,
.page-header__phone:hover,
.page-header__phone:focus {
	color: var(--accent-color);
}

/* contacts header */

.page-header__contact-nav {
	display: flex;
	margin-left: auto;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0px;
	gap: 93px;
}

.page-header__contact-link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: inline-flex;
	align-items: center;
}

/* mail and phone links */

.page-header__mail,
.page-header__phone {
	color: var(--additional-text-color);
	font-weight: var(--font-weight-employee-name);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	align-items: center;
	display: flex;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	gap: 10px;
}

.page-header__icon {
	fill: currentColor;
}

/* page-main  */
/* page-hero */

.page-hero {
	margin-left: auto;
	margin-right: auto;
	background-color: var(--accent-backgroung);

	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../images/command.jpg");

	background-repeat: no-repeat;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-size: cover;

	max-width: 1600px;
	align-items: center;
}

.page-hero__container {
	text-align: center;
}

.page-hero__heading {
	color: var(--accent-color-two);
	font-weight: var(--main-font-weight);
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	width: 696px;
	margin-top: 0;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

/* page-advantages */

.page-advantages__grid {
	display: flex;
	flex-wrap: wrap;

	margin-left: calc(-1 * var(--cards-gap));
	margin-top: calc(-1 * var(--cards-gap));
	padding-left: 0;
}

.page-advantages__cell {
	margin-right: 0;
	margin-left: var(--cards-gap);
	margin-top: var(--cards-gap);
	margin-bottom: 0;
	padding: 0;

	flex-basis: calc(100% / 4 - var(--cards-gap));
}

.page-advantages__cell-wrap {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 30px;
	height: 120px;

	background-color: var(--accent-button-backgroung);
	border-radius: 4px;
}

.page-advantages__cell-title {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: var(--font-weight-advantages);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.page-advantages__cell-description {
	color: var(--additional-text-color);
	font-weight: var(--additional-font-weight);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	margin: 0;
}

/* Activities */

.page-activities__section {
	padding-top: 0;
}

.page-activities__grid {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: calc(-1 * var(--cards-gap));
	margin-left: calc(-1 * var(--cards-gap));
	padding: 0;

	list-style: none;
}

.page-activities__cell {
	margin: 0;
	margin-left: var(--cards-gap);
	margin-top: var(--cards-gap);

	padding: 0;

	flex-basis: calc(100% / 3 - 30px);
	position: relative;
	bottom: 0;
}

.page-activities__cell-description {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;

	align-items: center;
	justify-content: center;

	margin: 0;

	color: var(--accent-color-two);
	text-transform: uppercase;
	font-weight: var(--font-weight-advantages);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	background-color: rgba(47, 48, 58, 0.8);
}

/* our team */

.page-team__section {
	background-color: var(--accent-button-backgroung);
}

.page-team__grid {
	display: flex;
	gap: 30px;
	padding-left: 0;
}

.page-team__profile {
	gap: 30px;
	border-color: var(--main-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	flex-basis: calc(100% / 3 - 30px);
	background-color: var(--accent-color-two);
}

.page-team__profile-wrap {
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: center;
}

.page-team__profile-name,
.page-team__profile-description {
	color: var(--main-text-color);
	font-weight: var(--font-weight-employee-name);
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	margin-top: 0;
	margin-bottom: 10px;

	text-align: center;
}

.page-team__profile-description {
	color: var(--additional-text-color);
	font-weight: var(--additional-font-weight);
	margin-bottom: 16px;
}

.social-icons {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: center;
	gap: 10px;
}

.social-icons__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	color: #afb1b8;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover {
	background-color: var(--accent-color);
	color: var(--accent-color-two);
}

.social-icons__link--footer {
	color: var(--accent-color-two);
	background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__vector {
	fill: currentColor;
}

/* .footer-center-info
	> .social-icons
	> .social-icons__cell
	> .social-icons__link {
	color: var(--accent-color-two);
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-center-info
	> .social-icons
	> .social-icons__cell
	> .social-icons__link:hover {
	background-color: #2196f3;
} */

/*  Our clients */

.clients-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	gap: 30px;
	columns: 6;
}

.clients-general {
	flex-basis: calc((100% - 30px * 5) / 6);
}

.clients-item {
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #afb1b8;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover {
	color: #2196f3;
	border: 1px solid #2196f3;
}

.clients-icon {
	fill: currentColor;
}

/* footer main-page */

.footer {
	background-color: var(--accent-backgroung);
	font-style: var(--font-style);
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 15px;
	margin: 0;
}

.footer a.logo {
	margin-right: 0;
	margin-bottom: 20px;
	display: inline-block;
}

.footer-main {
	padding-left: 0;
}

.footer-left-info {
	margin-right: 70px;
}

.footer-center-info {
	padding-top: 12px;
	padding-bottom: 40px;
}

.footer-invitation {
	text-transform: uppercase;
	color: var(--accent-color-two);
	margin-top: 0;
	margin-bottom: 20px;
}

.positioning {
	display: flex;
}

.footer-subscription {
	display: flex;
	margin-left: auto;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 40px;
}

.footer-form {
	display: flex;
	flex-direction: column;
}

/* Subscription form footer */

.subscription-form {
	display: flex;
}

.subscription-form > input {
	padding-left: 15px;
	width: 358px;
	height: 50px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;

	color: var(--accent-color-two);
	outline: inherit;
}

.submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.06em;

	width: 200px;
	height: 50px;

	margin-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	color: #ffffff;

	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
	color: var(--accent-color-two);
	background-color: var(--button-background-color-hover);
}

.button-styles-icon {
	display: flex;
	margin-left: 10px;
}

/* portfolio */

.filter {
	margin-bottom: 50px;
	padding-left: 0;
	display: flex;
	justify-content: center;
}

.filter button {
	padding-top: 6px;
	padding-left: 22px;
	padding-bottom: 6px;
	padding-right: 22px;
}

.filter .item + .item {
	margin-left: 8px;
}

.filter-cards {
	margin: 0;
	padding-left: 0;

	margin-top: calc(-1 * var(--cards-gap));
	margin-left: calc(-1 * var(--cards-gap));

	display: flex;
	flex-wrap: wrap;
}

.filter-cards .item {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: var(--cards-gap);
	margin-top: var(--cards-gap);
}

/* overlay filter-cards */

.item-pic {
	position: relative;
	overflow: hidden;
}

.item-link:hover .item-pic-descr {
	transform: translateY(-100%);
}

.item-pic-descr {
	content: "";
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	padding-left: 24px;
	padding-right: 24px;
	margin: 0;

	width: 100%;
	height: 100%;
	background: rgba(33, 150, 243, 0.9);
	transform: translateY (0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: #ffffff;

	overflow: hidden;
}

.item-pic-descr p {
	margin: 0;
}

.item-link {
	width: 100%;
	height: 100%;
	display: block;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-background {
	color: var(--accent-color-two);
	background-color: var(--accent-color);
	font-family: var(--main-font);
	font-weight: var(--font-weight-advantages);
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	border: 0;
	border-radius: 4px;
	padding: 10px 32px;

	display: inline-block;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-background:hover,
.button-background:focus {
	color: var(--accent-color-two);
	background-color: var(--button-background-color-hover);
}

.button-background-port {
	color: var(--main-text-color);
	background-color: var(--accent-button-backgroung);
	font-family: var(--main-font);
	font-weight: var(--font-weight-employee-name);
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;

	border-radius: 4px;
	border: transparent;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-background-port:hover,
.button-background-port:focus {
	color: var(--accent-color-two);
	background-color: var(--accent-color);
	font-family: var(--main-font);
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

button {
	cursor: pointer;
}

/* advantages */

.item-bottom-port {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}

.paragraph-name {
	color: var(--main-text-color);
	font-weight: var(--font-weight-advantages);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-top: 0;
	margin-bottom: 4px;
}

.portfolio .page-advantages__cell-description {
	font-weight: var(--additional-font-weight);
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

.address-city {
	color: var(--accent-color-two);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	margin-bottom: 9px;
}

.list .address-city:last-child {
	margin-bottom: 0;
}

.address {
	font-style: var(--font-style);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

a:link {
	text-decoration: none;
	font-style: var(--font-style);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:link:hover,
a:link:focus {
	color: var(--accent-color);
}
.contact-data {
	color: var(--studio-style-color);
	font: var(--main-font);
	font-style: var(--font-style);

	display: inline-block;
}

/* modal window */

.backdrop {
	position: fixed;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 528px;
	height: 581px;

	background: var(--accent-color-two);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close-wrap {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;

	background-image: url(../images/close.svg);
	background-repeat: no-repeat;
	background-position: center;

	background-color: var(--accent-color-two);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-wrap:hover,
.close-wrap:focus {
	cursor: pointer;
	box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);
	background-image: url(../images/close-blue.svg);
}

/* Modal forms */

.modal {
	padding: 40px;
	width: 528px;
}

.modal-header {
	margin-top: 0;
	margin-bottom: 12px;
	letter-spacing: 0.03em;
	font-size: 20px;
	line-height: 0.87;
	text-align: center;
}

.modal-form {
	margin-left: auto;
	margin-right: auto;
}

.modal-form-item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	/* outline: 1px solid tomato; */
}

.input-icon {
	position: absolute;
	left: 15px;
	top: 55%;
	fill: currentColor;
	transform: opacity;
}

.modal-form-input:focus ~ .input-icon {
	color: var(--accent-color);
}

.modal-form-input ~ .input-icon {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-item:last-child {
	flex-direction: row;
}

.modal-form-item input,
.modal-form-item textarea {
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: inherit;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-item textarea:focus {
	border: 1px solid var(--accent-color);
}

.modal-form-item input {
	height: 40px;
	padding-left: 40px;
}

.modal-form-item:nth-child(5) {
	margin-bottom: 20px;
}

input[type="checkbox"] {
	position: absolute;
	appearance: none;
	width: 15px;
	display: flex;
}

.icon-checkbox {
	width: 16px;
	height: 15px;
	background-color: transparent;
	border: 2px solid black;
	border-radius: 2px;
	margin-right: 9px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .icon-checkbox {
	background-image: url(../images/icon-check.svg);
	background-size: contain;
	background-color: var(--accent-color);
	border: 2px solid var(--accent-color);
	background-repeat: no-repeat;
}

input[type="checkbox"]:focus + .icon-checkbox {
	border: 2px solid var(--accent-color);
}

textarea {
	resize: none;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 0;
	height: 120px;

	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;

	padding: 12px 16px;

	color: rgba(117, 117, 117, 0.5);
}

.modal-form-label {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;

	letter-spacing: 0.01em;

	color: #757575;
	margin-bottom: 4px;
}

.modal-form-label-check {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;

	color: #757575;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	justify-content: center;
}

.modal-form-label-check a {
	text-decoration: underline;
	color: #2196f3;
	padding-left: 3px;
}

.modal-form-label-check a:hover {
	text-decoration: none;
}

.modal-form > button[type="submit"] {
	display: block;

	width: 200px;
	height: 50px;

	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	letter-spacing: 0.06em;
	color: var(--accent-color-two);
	margin-right: auto;
	margin-left: auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form > button[type="submit"]:hover,
.modal-form > button[type="submit"]:focus {
	color: var(--accent-color-two);
	background-color: var(--button-background-color-hover);
}
