/* logo */

.logo {
	font-weight: var(--font-weight-advantages);
	color: var(--accent-color);
	font-family: var(--additional-font);

	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.logo__studio {
	color: var(--main-text-color);
}

.logo__studio-inverse {
	color: var(--accent-color-two);
}